/* 
.app {
    padding-top:0px!important;
}

.bloom-navigation-top {
    display:none;
} 
*/

.chrome-is-learner {

    .bloom-navigation-links,
    .navigation-top-buttons {
        display: none;
    }
    
    .header {
        display:none;
    }
    
    .library {
        .primary-column {
            width:100%;
        }
        .secondary-column {
            display:none;
        }
    }
    
}
